<div class="outer">
  <H2>Simple Piano using tone.js</H2>
  <p>(press the shown keys on keyboard or click)</p>
  <div>1 2 3 4 5</div>
  <div class="container" (keypress)="invoke($event)">
    <div class="whiteKeys">
      <div *ngFor="let i of whiteKeys; index as k" class="whiteKey" (click)="invoke(i)"></div>
    </div>
    
    <div class="blackKeys">
      <div *ngFor="let i of blackKeys;index as k" class="blackKey" (click)="invoke(i)"></div>
    </div>
  </div>
  <div>q w e r t y u i</div>
</div>